{% extends 'base.twig' %}

{% block content %}
    {% for message in app.session.getFlashBag.get('error') %}
        <div class="alert alert-danger" role="alert"><strong>Oh snap!</strong> {{ message }}</div>
    {% endfor %}

    {% if registerNotice %}
        <div class="alert alert-info" role="alert"><strong>Heads up!</strong> You haven't registered a character yet!</div>
    {% endif %}

    {% if not app.is_logged_in %}
        <div class="alert alert-info" role="alert"><strong>Heads up!</strong> In order to add yourself to this list you need to log in above!</div>
    {% endif %}

    <ul class="nav nav-tabs" role="tablist">
      <li><a href="#armors" role="tab" data-toggle="tab">Armor Types</a></li>
      <li class="active"><a href="#classes" role="tab" data-toggle="tab">Classes</a></li>
      <li><a href="#roles" role="tab" data-toggle="tab">Roles</a></li>
      <li><a href="#tokens" role="tab" data-toggle="tab">Tokens</a></li>
    </ul>
    <br>
    <div class="tab-content">
        <div class="tab-pane" id="armors">
            {% for row in armors|batch(3) %}
                <div class="row">
                    {% for title, players in row %}
                        {% include 'box.twig' %}
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
        <div class="tab-pane active" id="classes">
            {% for row in classes|batch(3) %}
                <div class="row">
                    {% for title, players in row %}
                        {% include 'box.twig' %}
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
        <div class="tab-pane" id="roles">
            {% for row in roles|batch(3) %}
                <div class="row">
                    {% for title, players in row %}
                        {% include 'box.twig' %}
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
        <div class="tab-pane" id="tokens">
            {% for row in tokens|batch(3) %}
                <div class="row">
                    {% for title, players in row %}
                        {% include 'box.twig' %}
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
